.cardGameStyle {
    background-color: var(--gray-dark);
    overflow: hidden;
    position: relative;
    border: none;
    margin: 0.5rem;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.cardGameStyle:hover {
    transform: scale(1.02);
}

/*.cardDescription {*/
/*    color: var(--red);*/
/*}*/

/*.ant-card .ant-card-body {*/
/*    padding: 10px;*/
/*    background: #3a3f44;*/
/*}*/
