.galleryCardStyle {
    background-color: var(--gray-dark);
    overflow: hidden;
    position: relative;
    border: none;
    margin: 0.5rem;
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.galleryCardStyle:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px 5px var(--cyan);
}

.coverSkeleton {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}

.coverImage {
    position: absolute;
    top: 0;
    left: 0;
}

/*.cardDescription {*/
/*    color: var(--red);*/
/*}*/

/*.ant-card .ant-card-body {*/
/*    padding: 10px;*/
/*    background: #3a3f44;*/
/*}*/


/*<List>*/
/*             <VirtualList data={rows}*/
/*                          height={height}*/
/*                          itemKey={'id'}*/
/*                          itemHeight={200}>*/
/*               {(game) => {*/
/*                 return (*/
/*                   <List.Item key={game.id}>*/
/*                     <Link to={`/game/${game.id}`}*/
/*                           onClick={() => {*/
/*                             console.log('click')*/
/*                           }}>*/
/*                       <GameCard card={game}/>*/
/*                     </Link>*/
/*                   </List.Item>*/
/*                 )*/
/*               }}*/

/*             </VirtualList>*/
/*           </List>*/